#ident_aluno {
  border: 1px solid rgba(13, 110, 253, 0.5);
  border-radius: 15px;
  margin: 15px;
}

#resp_legal {
  border: 1px solid rgba(108, 117, 125, 0.5);
  border-radius: 15px;
  margin: 15px;
}

/* checkbox invisível */
.toggle-edicao {
    display: none;
}

/* wrapper do input */
.input-cadeado {
    position: relative;
}

/* cadeado dentro do input */
.cadeado {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 14px;
}

/* campo bloqueado */
.campo-rm {
    background-color: #e9ecef;
    padding-right: 30px;
}

/* QUANDO habilitar edição */
.toggle-edicao:checked ~ .input-cadeado .campo-rm {
    background-color: #fff;
    pointer-events: auto;
}

/* remove cadeado */
.toggle-edicao:checked ~ .input-cadeado .cadeado {
    display: none;
}

/* ⚠️ LIMITAÇÃO: readonly não some sem JS */


.campo-wrapper {
    position: relative;
}

.campo-bloqueado {
    background-color: #e9ecef;
    cursor: not-allowed;
}

.cadeado {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    opacity: 0.6;
    pointer-events: none;
}

/* esse pedaço de código CSS estiliza o cadeado dentro do campo bloqueado
foi criado pelo programador para indicar visualmente que o campo está bloqueado
O vs que fez esta parte */
/* QUANDO habilitar edição */
/* .toggle-edicao:checked ~ .campo-wrapper .cadeado {
    display: none;
}
.toggle-edicao:checked ~ .campo-wrapper .campo-bloqueado {
    background-color: #fff;
    cursor: auto;
    pointer-events: auto;
} */


/* ESTILOS PARA IMPRESSÃO */
@media print {
  @page {
    size: A4;
    margin: 6mm;
  }

  body {
    font-size: 10px;
    margin: 0;
    padding: 0;
  }

  .container,
  .container-fluid {
    max-width: 100% !important;
    margin: 0 auto !important;
    padding: 10mm !important;
  }

  .container {
    max-width: 100%;
    padding: 0;
    margin: 0;
    transform: scale(0.94); /* força caber em 1 página */
    transform-origin: top left;
  }

  .card {
    border: 1px solid #000;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 4px;
    page-break-inside: avoid;
    margin-bottom: 4px;
    page-break-inside: avoid;
  }

  .card-header {
    background: #e9e9e9 !important;
    color: #000 !important;
    font-weight: bold;
    font-size: 9.5px;
    padding: 3px 6px;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    font-size: 10px;
    padding: 3px 6px;
  }

  .card-body {
    padding: 4px 6px;
  }
  .card-body p {
    font-size: 9px;
    margin-bottom: 2px;
    line-height: 1.2;
  }

  .row {
    margin-bottom: 2px;
  }

  hr {
    margin: 4px 0;
    border-top: 1px solid #000;
  }

  strong {
    font-weight: 600;
  }

  .no-print {
    display: none !important;
  }
}
