{% extends "base.html" %}
{% block conteudo %}
<h3>Resumo da Matrícula</h3>
<ul class="list-group">
    <li class="list-group-item"><b>Aluno:</b> {{ aluno[1] }}</li>
    <li class="list-group-item"><b>Turma:</b> {{ aluno[4] }}</li>
    <li class="list-group-item"><b>Responsável:</b> {{ aluno[6] }}</li>
    <li class="list-group-item"><b>Contribuição:</b> R$ {{ aluno[9] }}</li>
</ul>

<div class="mt-3">
    <a href="/" class="btn btn-secondary">Voltar</a>
    <button onclick="window.print()" class="btn btn-primary">Imprimir</button>
</div>
{% endblock %}
