<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Teste Matrícula</title>
  </head>
  <body>
    <h2>Teste de Matrícula</h2>

    <form method="post" action="/nova_matricula">
      <input type="text" name="ra" placeholder="RA" /><br />
      <input type="text" name="rm" placeholder="RM" /><br />
      <input type="text" name="nome_completo" placeholder="Nome completo" /><br />
      <input type="text" name="cpf_aluno" placeholder="CPF" /><br />

      <button type="submit">Salvar</button>
    </form>
  </body>
</html>
